In [2]:
import seaborn as sns
import pandas as pd
hp=pd.read_csv("https://raw.githubusercontent.com/dsrscientist/dataset1/master/house_price_data_median.csv")
hp

,LotArea,OverallQual,OverallCond,TotalBsmtSF,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,Fireplaces,GarageArea,AboveMedianPrice
0,8450,7,5,856,2,1,3,8,0,548,1
1,9600,6,8,1262,2,0,3,6,1,460,1
2,11250,7,5,920,2,1,3,6,1,608,1
3,9550,7,5,756,1,0,3,7,1,642,0
4,14260,8,5,1145,2,1,4,9,1,836,1
...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,6,5,953,2,1,3,7,1,460,1
1456,13175,6,6,1542,2,0,3,7,2,500,1
1457,9042,7,9,1152,2,0,4,9,2,252,1
1458,9717,5,6,1078,1,0,2,5,0,240,0
1459,9937,5,6,1256,1,1,3,6,0,276,0

In [3]:
from scipy.stats import zscore
import numpy as np
z=np.abs(zscore(hp))
z

,LotArea,OverallQual,OverallCond,TotalBsmtSF,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,Fireplaces,GarageArea,AboveMedianPrice
0,0.207142,0.651479,0.517200,0.459303,0.789741,1.227585,0.163779,0.912210,0.951226,0.351000,1.002743
1,0.091886,0.071836,2.179628,0.466465,0.789741,0.761621,0.163779,0.318683,0.600495,0.060731,1.002743
2,0.073480,0.651479,0.517200,0.313369,0.789741,1.227585,0.163779,0.318683,0.600495,0.631726,1.002743
3,0.096897,0.651479,0.517200,0.687324,1.026041,0.761621,0.163779,0.296763,0.600495,0.790804,0.997264
4,0.375148,1.374795,0.517200,0.199680,0.789741,1.227585,1.390023,1.527656,0.600495,1.698485,1.002743
...,...,...,...,...,...,...,...,...,...,...,...
1455,0.260560,0.071836,0.517200,0.238122,0.789741,1.227585,0.163779,0.296763,0.600495,0.060731,1.002743
1456,0.266407,0.071836,0.381743,1.104925,0.789741,0.761621,0.163779,0.296763,2.152216,0.126420,1.002743
1457,0.147810,0.651479,3.078570,0.215641,0.789741,0.761621,1.390023,1.527656,2.152216,1.033914,1.002743
1458,0.080160,0.795151,0.381743,0.046905,1.026041,0.761621,1.062465,0.934130,0.951226,1.090059,0.997264
1459,0.058112,0.795151,0.381743,0.452784,1.026041,1.227585,0.163779,0.318683,0.951226,0.921624,0.997264

In [4]:
threshold=3
print(np.where(z>3))

(array([  53,   53,   88,  144,  166,  178,  185,  185,  188,  189,  191,
        218,  224,  241,  249,  250,  291,  298,  304,  309,  313,  330,
        332,  335,  375,  375,  378,  384,  398,  440,  451,  457,  461,
        496,  508,  519,  523,  533,  570,  581,  583,  597,  605,  624,
        628,  634,  635,  635,  642,  661,  664,  676,  691,  703,  706,
        726,  745,  769,  769,  803,  825,  843,  848,  897,  897,  910,
        921,  980,  991, 1031, 1044, 1061, 1123, 1149, 1154, 1163, 1163,
       1173, 1182, 1190, 1213, 1213, 1230, 1230, 1268, 1270, 1283, 1298,
       1298, 1298, 1298, 1298, 1327, 1350, 1350, 1350, 1352, 1373, 1386,
       1396, 1435, 1450, 1457], dtype=int64), array([0, 6, 2, 6, 8, 9, 2, 7, 5, 6, 2, 2, 3, 2, 0, 2, 6, 5, 2, 8, 0, 6,
       3, 0, 1, 2, 2, 0, 2, 3, 0, 0, 2, 3, 2, 2, 3, 1, 6, 9, 2, 5, 8, 5,
       5, 6, 6, 7, 8, 0, 9, 2, 3, 2, 0, 2, 2, 0, 7, 7, 9, 6, 0, 6, 7, 7,
       5, 2, 2, 7, 3, 9, 2, 2, 5, 5, 6, 7, 3, 9, 2, 6, 5, 7, 2, 6, 5, 0,
       3, 7, 8, 9, 2, 5, 6, 7, 2, 3, 7, 0, 2, 5, 2], dtype=int64))

In [5]:
z[53][0]

KeyError: 53